.container{
    width: 1024px;
    margin: auto;
}

.pelota img{
    width: 100%;
    height: 100%;
}

.pelota{
    background-image: url(../images/pelota.png);
    background-size: cover;
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: pelota;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}
.caja {
    border: 2px solid black;
    width: 500px;
    height: 400px;
}

@keyframes pelota{
    0%   {left:0px; top:0px;} 
    25%  {left:100px; top:300px;}
    50%  {left:200px; top:0px; }
    75%  {left:300px; top:300px; }
    100% {left:400px; top:0px; }
  
}

